<!DOCTYPE html>
<html>
<head>
    <title> 註冊頁demo </title>
</head>
<body>
        <form method=“post”>
            {{form.csrf_token}}
    
            <h1> 帳號申請 </h1>
    
            {{ form.user_name.label }}
            <p>{{ form.user_name }}</p>
            {% for msg in form.user_name.errors %}
            <p>{{ msg }}</p>
            {% endfor %}
            {{ form.password.label }}
            <p>{{ form.password }}</p>
            {% for msg in form.password.errors %}
            <p>{{ msg }}</p>
            {% endfor %}
            {{ form.password2.label }}
            <p>{{ form.password2 }}</p>
            {% for msg in form.password2.errors %}
            <p>{{ msg }}</p>
            {% endfor %}
            <a href="/login/">登入(錯誤示範)</a><!-- 實際開發不會將網址寫死，不方便後期維護，建議用url_for -->
            <a href="{{ url_for('login') }}">登入</a><!-- 再去@app.route('/login/') define -->
            <p align="left">開發者：{{ context.developer.name }}</p>
            <a href="{{ url_for('login') }}">靜態文件範例圖</a>

    </body>
</html>
